.header {
  @apply relative bg-white;

  > .header-wrapper {
    @apply flex justify-between items-center px-4 py-6 sm:px-6 md:justify-start md:space-x-10;

    > .header-brand {
      @apply flex justify-start lg:w-0 lg:flex-1;

      img {
        @apply h-8 w-auto sm:h-10;
      }
    }

    > .header-toggle {
      @apply -mr-2 -my-2 md:hidden;

      > button {
        @apply bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500;

        > svg {
          @apply w-6 h-6;
        }
      }
    }

    > .nav {
      @apply hidden md:flex space-x-10;

      > .nav-item {
        @apply text-base font-medium text-gray-500 hover:text-gray-900;
      }
    }

    > .header-security {
      @apply hidden md:flex items-center justify-end md:flex-1 lg:w-0;

      > a:first-child {
        @apply whitespace-nowrap text-base font-medium text-gray-500 hover:text-gray-900;
      }

      > a:last-child {
        @apply ml-8 whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700;
      }
    }
  }

  > .header-open {
    @apply absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden;

    > div {
      @apply rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50;

      > .header-top {
        @apply pt-5 pb-6 px-5;

        > .header-brand {
          @apply flex items-center justify-between;

          img {
            @apply h-8 w-auto;
          }

          > .header-toggle {
            @apply -mr-2;

            > button {
              @apply bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500;

              > svg {
                @apply w-6 h-6;
              }
            }
          }
        }
      }

      > .header-body {
        @apply py-6 px-5;

        > .nav {
          @apply grid grid-cols-2 gap-4;

          > .nav-item {
            @apply text-base font-medium text-gray-900 hover:text-gray-700;
          }
        }

        > .header-security {
          @apply mt-6;

          > a:first-child {
            @apply w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700;
          }

          > p {
            @apply mt-6 text-center text-base font-medium text-gray-500;

            > a {
              @apply text-indigo-600 hover:text-indigo-500;
            }
          }
        }
      }
    }
  }
}
